VMMC_Client/VMMC_Login/Connected Services/FileDeleteServiceReference/FileDeleteService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibraryTest" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibraryTest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DeleteFileResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsDeleteSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteFileResult" nillable="true" type="tns:DeleteFileResult" />
</xs:schema>