VMMC_Client/VMMC_Core/Connected Services/FileGetterServiceReference/FileGetterService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibraryTest" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibraryTest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetFileResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsGetSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFileResult" nillable="true" type="tns:GetFileResult" />
</xs:schema>