VMMC_Client/VMMC_Core/Connected Services/FileLoaderServiceReference/FileLoaderService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://server-db.vnp2.main:8080/FileLoaderService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibraryTest" />
  <xs:element name="LoadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceLibraryTest" minOccurs="0" name="inputData" nillable="true" type="q1:LoadFileInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceLibraryTest" minOccurs="0" name="LoadFileResult" nillable="true" type="q2:LoadFileResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>