VMMC_Client/VMMC_Client/Connected Services/FileDeleteServiceReference/FileDeleteService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://server-db.vnp2.main:8080/FileDeleteService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibraryTest" />
  <xs:element name="DeleteFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileId" type="xs:int" />
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceLibraryTest" minOccurs="0" name="DeleteFileResult" nillable="true" type="q1:DeleteFileResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>